@import "common";

.forminp.forminp-image {

    img {
        max-width: 100px;
    }
}

.forminp {
    vertical-align: top;

    input,
    textarea {
        width: 100%;
    }

    textarea {
        min-height: 90px;
    }
}