
.carousel-wrapper {
    margin: 0 auto;
    position: relative;

    [data-type="carousel"] {

        .track {
            width: 100%;
            overflow: hidden;

            .glid__slide {

            }
        }

        .slider__bullets {
            display: none;
            text-align: center;
            margin-left: 0;
        }

        .slider__bullet {
            border-radius: 100%;
            border: none;
            width: 8px;
            height: 8px;
            background: $color__darkest-gray;
            padding: 0;
            margin: 0 .5rem;

            &.glide__bullet--active {
                background: $color__dark-pink;
            }

            &:focus {
                outline: none;
            }
        }

        .glide__arrows {
            display: none;

            .glide__arrow--left,
            .glide__arrow--right {
                background: transparent;
                padding: 0;
                border: none;
                position: absolute;
                @include absolute-middle-aligment('vertical');

                &:before {
                    content: "";
                    font-family: 'glyphs';
                    display: block;
                    color: $color__dark-pink;
                    font-size: 2rem;
                }
            }

            .glide__arrow--left {
                left: -2.5rem;

                &:before {
                    content: "\ea38";
                }
            }

            .glide__arrow--right {
                right: -2.5rem;

                &:before {
                    content: "\ea34";
                }
            }
        }

        &.glide--slider {

            .glide__arrows {
                display: none;
            }
            .slider__bullets {
                display: block;
            }
        }
    }

    @include responsive($max-width: '860px') {
        //width: 80%;
        //max-width: 370px;
    }
}