.featured-post {
    width: 70%;

    h4 {
        margin-bottom: .5rem;
        margin-top: 0;
    }

    .post-title {

        h3 {
            margin-top: 1rem;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    .post-image {
        height: 60vh;
        width: 100%;
        overflow: hidden;
        position: relative;

        img {
            max-width: 100%;
            position: absolute;
            @include absolute-middle-aligment('both');
        }
    }

    .information {

        a {
            margin-right: .5rem;
        }

        span {
            margin-left: .5rem;
        }
    }

    .content {
        margin: 1rem 0;

        p {
            margin: 0;
        }
    }
}