.grid {
  @for $grid from 1 through 12 {
    .grid-#{$grid}-12 {
      display: inline-block;
      width: calc(100% * (#{$grid}/12) - 4px);
    }
  }

  @for $grid from 1 through 24 {
    .grid-#{$grid}-24 {
      display: inline-block;
      width: calc(100% * (#{$grid}/24) - 4px);
    }
  }
}

