.latest-posts {
    display: inline-block;
    width: 70%;
    margin-top: 3rem;

    h4 {
        margin: 0 0 .5rem 0;
    }

    .post-thumbnail {
        margin: 1.5rem 0;
        position: relative;

        a {
            text-decoration: none;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .post-image {
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            max-height: none;
            width: 100%;
            @include absolute-middle-aligment('both');
        }
    }

    .post-information-wrapper {

        .information {
            @include font-size(12);
            margin-bottom: .5rem;
        }

        .post-title {

            h4 {
                color: black;
                margin: 0;
                @include font-size(20);
                font-weight: bold;
                line-height: 2rem;
                text-decoration: none;
            }
        }

        .content {

            p {
                color: black;
                margin: 0;
                @include font-size(14);
                line-height: 20px;
                text-decoration: none;
            }
        }
    }

    &.horizontal {

        .post-thumbnail {

            .post-image {
                display: inline-block;
                width: calc(25% - 4px);
                vertical-align: top;
                height: 20vh;
            }

            .post-information-wrapper {
                display: inline-block;
                width: calc(70% - 4px);
                margin-left: 5%;
                vertical-align: top;

                .post-title {

                    h4 {
                        margin: 0;
                        font-weight: bold;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }

            .read-more {
                padding: .35rem 1rem;
                display: block;
                margin: 1rem 0 0 0;
                position: absolute;
                bottom: 0;
                @include font-size(13);
            }
        }
    }

    &.vertical {
        text-align: left;

        .post-thumbnail {
            display: inline-block;
            width: calc(20% - 4px);
            min-width: 280px;
            height: 450px;
            background: lighten($color__lighter-gray, 5%);
            margin: 1rem 1.5% 1rem 0;
            vertical-align: top;
            transition: 100ms box-shadow;
            //box-shadow: 0 0 6px 0 $color__light-gray;

            .post-image {
                height: 200px;

                img {
                    max-width: none;
                }
            }

            .post-information-wrapper {
                padding: .5rem 0 2rem 1.5rem;
                text-align: left;

                .post-title {
                    height: 60px;
                    overflow: hidden;

                    h4 {
                        text-align: left;
                        margin: .5rem 0;
                        @include font-size(18);
                        line-height: 1.5rem;
                    }
                }
            }

            .read-more {
                padding: 0;
                background: transparent;
                border: none;
                text-align: left;
                border-bottom: 1px solid #616161;
                border-radius: 0;
                position: absolute;
                bottom: 2rem;
                left: 1.5rem;
                text-transform: capitalize;

                &:hover {
                    box-shadow: none;
                    border-color: $color__bluer-green;

                    a {
                        color: $color__bluer-green;
                    }
                }
            }

            &:hover {
                cursor: pointer;
                box-shadow: 0 0 15px 0 lighten($color__dark-gray, 3%);
            }
        }
    }

    &.admin,
    &.vertical {
        width: 100%;
    }

    &.admin .post-thumbnail {
        margin: 1rem 5px!important;
    }
}