.office-images {
    text-align: center;
    padding: 2rem;
    padding-bottom: 8rem;

    .office-image {
        width: calc(30% - 4px);
        margin: 1rem;
        border-radius: 10px;
        display: inline-block;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    h3, h6 {
        margin: 0;
        font-weight: normal;
    }

    h6 {
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .carousel-wrapper {
        width: 100%;

        .slider__bullets {
            display: none !important;
        }
    }

    @include responsive($max-width: '600px') {

        .office-image {
            margin: 0;
        }

        .carousel-wrapper {
            .slider__bullets {
                display: block !important;;
            }
        }
    }

    @include responsive($max-width: '660px') {
        padding: 2rem 1rem 8rem 1rem;
    }

    @include responsive($max-width: '480px') {
        padding: 2rem 1rem 4rem 1rem;

        .office-image {
            margin: 0;
        }
    }
}